* {
  margin: 0;
  padding: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

aside {
  display: block;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
html {
  height: 100%;
}

html {
  -webkit-animation-name: thePage;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes thePage {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes thePage {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

body {
  position: relative;
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background: url(../images/ajax/bg.jpg);
}

.container {
  position: relative;
  margin: 0 auto;
  /*padding: 0 15px;*/
}

.row {
  /*margin: 0 -15px;*/
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.mr-p2 {
  margin-right: 2%;
}

.mr-10 {
  margin-right: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.text-center {
  text-align: center;
}

.wrapper {
  background: url(../images/ajax/bg.jpg);
}

.header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background-color: #98061f;
}

.header-content {
  height: 100%;
  background-color: #98061f;
}

.header-content .icon-menu {
  display: none;
  height: 100%;
  padding: 0 15px;
  line-height: 40px;
  vertical-align: top;
}

.header-content .icon-menu:hover {
  background-color: #7C0621;
}

.header-content .logo {
  position: relative;
  top: -3px;
}

.header-content .title {
  position: relative;
  color: #ffffff;
  font-size: 12px;
}

.banner {
  height: 100px;
  background: #e3e3e3 url(../images/ajax/banner.jpg);
}

.nav {
  position: relative;
  z-index: 100;
  height: 37px;
  padding-top: 3px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ad0e22;
}

.side-nav {
  background: #7f000d;
  height: 100%;
}

.nav .main-nav {
  position: relative;
  z-index: 101;
  line-height: 37px;
  background-color: #7f000d;
}

.nav .main-nav .main-nav-item {
  position: relative;
  z-index: 102;
  width: 105px;
  float: left;
  text-align: center;
  border-right: 1px solid #6a040e;
}

.nav .main-nav .main-nav-item.first {
  width: 108px;
}

.nav .main-nav .main-nav-item.last {
  width: 109px;
}

.nav .main-nav .main-nav-item.last {
  border-right: none;
}

.nav .main-nav .main-nav-item:hover,
.nav .main-nav .main-nav-item.active {
  background-color: #ad0e22;
}

.nav .main-nav .main-nav-item:hover a,
.nav .main-nav.active a {
  color: #fff;
}

.nav .main-nav .main-nav-item a {
  display: block;
  color: #c1b0b1;
}

.nav .sub-nav {
  display: none;
  position: absolute;
  z-index: 110;
  top: 36px;
  left: 0;
  width: 180px;
  padding-bottom: 20px;
  background-color: #ad0e22;
  -webkit-transition: all 0;
  -moz-transition: all 0;
  -ms-transition: all 0;
  transition: all 0;
  zoom: 1;
}

.nav .sub-nav.yixiandui .sub-nav-item {
  padding-left: 30px;
}

.nav .sub-nav.club .sub-nav-item {
  padding-left: 30px;
}

.nav .sub-nav.others .sub-nav-item {
  padding-left: 22px;
}

.nav .sub-nav .sub-nav-item {
  line-height: 1;
  padding: 15px 0 0px 37px;
  text-align: left;
}

.nav .sub-nav .sub-nav-item a {
  display: block;
  color: #fff;
  font-size: 12px;
}

.side-nav {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 70%;
}
.side-nav .main-nav .main-nav-item {
  width: 100% !important;
  text-align: left;
  padding-left: 20%;
}

.carousel,
.next {
  height: 300px;
}

.carousel {
  position: relative;
  width: 641px;
  margin-top: 15px;
  overflow: hidden;
}

.carousel .carousel-content {
  position: relative;
  height: 315px;
  width: 456px;
}

.carousel-content .carousel-item,
.carousel-content .carousel-item img {
  width: 100%;
  height: 300px;
  vertical-align: top;
}

.carousel .carousel-links {
  position: relative;
  z-index: 10;
  width: 180px;
  height: 300px;
  background-color: #a2091c;
}

.carousel .carousel-links li {
  position: relative;
  height: 50px;
  border-top: 1px solid #7f000d;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.carousel .carousel-links li img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 191px;
  height: 92px;
  *height: 82px;
}

.carousel .carousel-links li a {
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
}

.carousel .carousel-links li.active {
  height: 92px;
  *height: 78px;
}

.carousel .carousel-links li.active img {
  width: 100%;
  display: block;
}

.carousel .carousel-links li.active a {
  font-size: 16px;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.carousel .carousel-links li a {
  position: absolute;
  z-index: 2;
  padding-right: 10px;
  color: #fff;
  font-size: 12px;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.next {
  margin-top: 15px;
  padding-left: 0;
  float: left;
}

.next-inner {
  width: 319px;
  height: 100%;
  background-color: #8c000d;
}

.next-inner .title {
  line-height: 50px;
  margin: 0;
  color: #fff;
  text-align: center;
}

.next-inner .next-vs {
  padding-top: 10px;
}

.next-inner .next-vs .left,
.next-inner .next-vs .right {
  position: relative;
}

.next .next-vs .left {
  width: 200px;
  padding: 0 10px 15px 10px;
}

.next-inner .next-vs .left .text-vs {
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 20px;
  padding: 0 5px;
}

.next-inner .next-vs .left .img-vs2 {
  position: relative;
  top: 5px;
}

.next-inner .next-vs .left .desc {
  margin: 15px 0 0 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.next-inner .next-vs .right {
  padding-right: 10px;
  text-align: center;
}

.next-inner .next-vs .right img {
  position: relative;
}

.next-inner .next-vs .right .text-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: #fff;
  font-size: 10px;
}

.next-inner .next-vs .right .counterdown {
  margin: 5px 0 0 0px;
}

.next-inner .next-vs .right .counterdown .counterdown-item {
  width: 23px;
  float: left;
  color: #fff;
  font-size: 16px;
}

.next-inner .next-vs .right .counterdown .counterdown-item.day {
  width: 32px;
}

.next-inner .next-vs .right .time-desc {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.next-vs .right .time-desc .hour {
  margin-left: 17px;
  margin-right: 16px;
}

.next-vs .right .time-desc .minute {
  margin-right: 16px;
}

.next-inner .link-previous {
  display: inline-block;
  width: 80%;
  height: 39px;
  line-height: 39px;
  margin-left: 10px;
  text-align: center;
  color: #de001c;
  font-size: 16px;
  border: 3px solid #e40421;
}

.next-inner .link-previous:hover {
  border: 3px solid #fff;
  background-color: #fff;
}

.next .ajax-weibo,
.next .ajax-schedule {
  line-height: 1;
  margin: 0 0 0 10px;
  padding-left: 6px;
  font-size: 12px;
  color: #fff;
  border-left: 5px solid #ad0e22;
}

.next .ajax-weibo {
  margin-top: 15px;
  margin-bottom: 6px;
}

.next .ajax-weibo a,
.next .ajax-schedule a {
  color: #fff;
}

.slider {
  display: none;
  position: relative;
  width: 100%;
  overflow: auto;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  color: rgba(255,255,255,.6);
  text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

  background: #5b4d3d;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.slider ul {
  width:500%;
  height: 100% !important;
}

.slider ul li {
  float: left;
  width: 20%;
  min-height: 180px;
  background-size: 100%;
}

.card {
  position: relative;
  float: left;
  width: 33.333333%;
  height: 416px;
  padding: 0 15px 15px 0;
  margin-top: 15px;
}

.score {
  padding-right: 0;
}

.card-inner {
  height: 411px;
  background-color: #fff;
}

.card .header {
  position: relative;
  height: 47px;
  line-height: 47px;
  padding-left: 15px;
  color: #d7031d;
  font-weight: bold;
  border-bottom: 1px solid #6a040e;
  background-color: #ececec;
}

.card .header .title {
  display: inline;
  margin: 0;
  font-size: 20px;
  float: left;
}

.card .header .more {
  position: relative;
  top: 4px;
  margin-right: 12px;
  float: right;
  color: #c5031b;
}

/* 最新新闻 */
.news .content {
  padding: 10px 12px 10px 12px;
}

.news .content .news-item {
  position: relative;
  padding: 7px 0;
}

.news .content .news-item a {
  color: #444;
}

.news .content .news-item .date {
  float: right;
}

/* 视频 */
.video {
  float: left;
}

.video .list {
  padding: 0 6px 0;
}

.video .list .title {
  margin: 0;
  padding: 10px 0;
  color: #c3021d;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #e3d0d2;
}

.video .list .imgs {
  padding-top: 10px;
  line-height: 69px;
  text-align: center;
}

.video .list img {
  width: 91px;
  height: 67px;
  font-size: 0;
  background-color: #00AEE8;
}

.video .list img:hover,
.video .list img.active {
  border: 2px solid #d9031e;
}

.video .js-player {
  display: none;
}

.video .js-player.active {
  display: block;
}

/* 积分榜 */
.score table {
  width: 100%;
}

.score .tb-header {
  height: 34px;
  font-size: 12px;
  background-color: #ececec;
}

.score tbody tr {
  height: 37px;
  font-size: 12px;
}

.score tbody tr.even {
  background-color: #f8f8f8;
}

.score tbody tr.last {
  background-color: #ececec;
}

.score tbody tr td {
  text-align: center;
}

.ajax-ads {
  width: 66.666667%;
}
.ajax-ids-item {
  width: 50%;
  height: 50%;
  padding: 15px;
  background-color: #00AEE8;
}
.ajax-ids-item img {
  width: 100%;
  height: 100%;
}

.weibo {
  width: 33.333333%;
  padding-right: 0;
}

@media screen and (min-width: 961px) {
  .container {
    width: 960px;
  }

  .carousel,
  .next {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 960px) and (min-width: 768px){
  .wrapper {
    padding-left: 20%;
  }

  .main {
    position: relative;
    width: 80%;
    margin-left: 20%;
  }

  .nav {
    display: none;
  }

  .side-nav {
    display: block;
    z-index: 1;
    width: 20%;
    border: none;
  }

  .side-nav .main-nav .main-nav-item {
    float: none;
    width: 100% !important;
    padding-left: 20%;
    text-align: left;
  }

  .banner,
  .carousel {
    width: 100%;
  }

  .carousel {
    padding: 0 15px 15px;
  }

  .carousel .carousel-content {
    width: 75%;
  }

  .carousel .carousel-links {
    width: 25%;
  }

  .news,
  .next,
  .video,
  .score,
  .weibo,
  .ajax-ads {
    width: 50%;
  }

  .next,
  .score,
  .video,
  .ajax-ads,
  .weibo {
    padding: 0 15px;
  }

  .next-inner {
    width: 100%;
    height: 416px;
  }
  .next-vs {
    text-align: center;
  }
  .next-vs .left {
    display: inline-block;
  }
  .next-vs .left,
  .next-vs .right {
    float: none;
  }
  .next-inner .next-vs .right .counterdown .counterdown-item {
    display: inline-block;
    float: none;
  }
  .link-previous {
    margin-top: 15px;
  }
  .next .ajax-weibo {
    margin-top: 15px;
  }

  .video,
  .weibo {
    float: right;
    padding-left: 0;
  }

  .video .list img {
    width: 80px;
    height: 62px;
    margin-right: 5px;
  }
  .video .list img:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding-left: 0;
  }

  #menu {
    display: none;
  }

  .icon-menu {
    display: inline-block !important;
  }

  .main,
  .carousel {
    width: 100%;
  }

  .main {
    margin-left: 0;
  }

  .carousel {
    display: none;
  }

  .slider {
    display: block;
    height: 300px;
    text-align: center;
  }
  .slider img {
    width: 100%;
  }

  .slider .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
  }

  .slider .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
  }

  .slider .dots li.active {
    background: #fff;
    opacity: 1;
  }

  .slider .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
  }

  .banner,
  .ajax-ads {
    display: none;
  }

  .side-nav {
    z-index: 0;
    width: 40%;
  }

  .carousel {
    margin-top: 0;
  }

  .carousel .carousel-links {
    display: none;
  }

  .carousel .carousel-content {
    width: 100%;
  }

  .carousel .carousel-content .carousel-item img {
    height: auto;
  }

  .next,
  .news,
  .video,
  .score,
  .ajax-ads,
  .weibo {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .next {
    width: 100%;
  }
  .next-inner {
    width: 100%;
    height: 100%;
  }

  .score {
    top: 0;
  }
}

#js-main {
  position: relative;
}

.menu-out {
  -webkit-transform: translateX(40%);
  transform: translateX(40%);
}

.menu-in {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}